body, header, footer, ul, li
  margin: 0
  padding: 0
  line-height: 1.0
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif

h1, h2, h3, h4, p
  margin: 0
  padding: 0
  font-weight: normal

html
  font-size: 62.5%

body
  font-size: 1.6rem
  background: hsl(225, 50%, 18%)
  color: #FFF

  & > div
    display: grid
    grid-template-rows: auto auto auto

    @media screen and (max-width: 479px)
      grid-template-columns: 1.5rem 1fr 1.5rem

    @media screen and (min-width: 480px) and (max-width: 1279px)
      grid-template-columns: 1fr 90% 1fr

    @media screen and (min-width: 1280px)
      grid-template-columns: 1fr 80% 1fr

    & > header.site-header
      grid-row: 1
      grid-column: 2
      padding: 3.5rem 0 3rem

    & > main
      grid-row: 2
      grid-column: 2

    & > footer.site-footer
      grid-row: 3
      grid-column: 2
      padding: 3rem 0

a
  color: hsl(225, 100%, 40%)
  text-decoration: none

  &:hover
    text-decoration: underline

header.site-header
  h1
    font-size: 2.5rem

    span
      padding: 0 1rem
      font-size: 1.8rem

      &::before
        content: ": "

main
  border-top: solid 0.5rem hsl(225, 50%, 20%)
  border-bottom: solid 0.5rem hsl(225, 50%, 20%)

  section
    padding: 3rem 0 4rem

    & + section
      border-top: solid 0.5rem hsl(225, 50%, 20%)

  h1
    padding: 1rem 0
    font-size: 2.4rem

  * + h1
    margin-top: 4rem

  h2
    padding: 1rem 0
    font-size: 2rem

  * + h2
    margin-top: 1rem

  ul
    list-style: square

    li
      line-height: 2.6rem

  section.team
    h3
      font-weight: 700

      span
        display: block
        font-size: 1.4rem
        color: hsl(36, 100, 50)

    ul
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-column-gap: 5rem

      li
        list-style: none

        img
          width: 100%
          border-radius: 1rem

  section.company
    table
      tr

        &:nth-child(odd)
          background: hsl(225, 50, 20)

        th, td
          padding: 1rem 1rem
          font-weight: normal
          text-align: left
          vertical-align: top
          line-height: 1.5
        
footer.site-footer
  .copyright
    text-align: right
    font-size: 1.4rem