@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #172245;
  color: #FFF;
}
@media screen and (max-width: 479px) {
  body {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 480px) {
  body {
    font-size: 1.6rem;
  }
}
body a {
  color: #FFF;
  text-decoration: none;
}

header.site-header {
  position: fixed;
  z-index: 2;
  display: grid;
  width: 100%;
  padding: 1rem 0 1rem;
  background: #172245;
  border-bottom: solid 0.1rem #203060;
}
@media screen and (max-width: 479px) {
  header.site-header {
    grid-template-columns: 5% 17rem auto 5%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  header.site-header {
    grid-template-columns: 2rem 17rem auto 2rem;
  }
}
@media screen and (min-width: 1280px) {
  header.site-header {
    grid-template-columns: 5% 17rem auto 5%;
  }
}
header.site-header h1 {
  grid-row: 1;
  grid-column: 2;
}
header.site-header h1 a {
  display: block;
  width: 17rem;
  height: 4rem;
  font-size: 2.5rem;
  background-image: url("../images/OutsenseLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}
header.site-header nav {
  grid-row: 1;
  grid-column: 3;
  padding-top: 0.8rem;
  text-align: right;
}
header.site-header nav a, header.site-header nav button {
  position: relative;
  right: -2.5rem;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  letter-spacing: 0.05rem;
}
header.site-header nav a + a, header.site-header nav button + a {
  border-left: solid 0.1rem #ffa200;
}
@media screen and (max-width: 479px) {
  header.site-header nav a + a, header.site-header nav button + a {
    display: none;
  }
}
header.site-header nav button {
  font-size: inherit;
  background: inherit;
  color: inherit;
  border: none;
}

body > div > nav.news {
  position: fixed;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 6rem auto;
  grid-template-columns: 5% 20% 1fr 25%;
  width: 100%;
  background: rgba(32, 48, 96, 0.98);
}
body > div > nav.news input {
  display: none;
}
body > div > nav.news input:checked ~ * {
  display: none;
}
body > div > nav.news h1 {
  grid-row: 2;
  grid-column: 2;
  padding: 6rem 0 2rem;
  color: #ffa200;
}
body > div > nav.news ul {
  grid-row: 2;
  grid-column: 3;
  padding: 6rem 0;
}
body > div > nav.news ul li {
  list-style: none;
  border-bottom: solid 0.1rem #263973;
}
body > div > nav.news ul li:first-child {
  border-top: solid 0.1rem #263973;
}
body > div > nav.news ul li a {
  display: block;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}
body > div > nav.news ul li a:hover {
  background: #ffa200;
}
body > div > nav.news ul li a span {
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

main {
  padding-top: 6rem;
}
main nav.news {
  padding: 0.5rem 0 0.5rem;
  text-align: center;
  background: #203060;
}
main nav.news span {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #ffa200;
}
main div.cover {
  padding-top: 35%;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}
main video.cover {
  display: block;
  width: 50%;
  padding: 0 25%;
  background: #000;
}
main section {
  position: relative;
}
@media screen and (max-width: 479px) {
  main section {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  main section {
    padding: 8rem 15%;
  }
}
@media screen and (min-width: 1280px) {
  main section {
    padding: 8rem 25%;
  }
}
main section + section {
  border-top: solid 0.1rem #203060;
}
main section h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffa200;
}
@media screen and (max-width: 479px) {
  main section h1 {
    padding: 0 0 2rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  main section h1 {
    padding: 0 0 2rem;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1280px) {
  main section h1 {
    position: absolute;
    left: 5%;
    font-size: 2.4rem;
  }
}
main section * + h1 {
  margin-top: 4rem;
}
main section h2 {
  margin-top: -0.5rem;
  padding: 0 0 2rem;
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (max-width: 479px) {
  main section h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 480px) {
  main section h2 {
    font-size: 3rem;
  }
}
main section h3 {
  padding: 1rem 0 0.5rem;
}
main section * + h3 {
  margin-top: 1rem;
}
main section p {
  line-height: 1.7;
}
main section p + p {
  margin-top: 2rem;
}
main section > a {
  display: inline-block;
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  line-height: 1.6;
  background: #ffa200;
  color: #FFF;
  border-radius: 1rem;
}
main section > a h3 {
  padding: 0;
  font-size: 1.7rem;
  font-weight: 600;
}
main section ul {
  margin: 2rem 0;
  list-style: square;
}
main section ul li {
  line-height: 2.6rem;
}
main section img {
  width: 100%;
}
main section video {
  width: 100%;
}
main section div.parallel {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
main section.vision h2 {
  line-height: 1.3;
}
main section.visionEn {
  background: white;
  color: #203060;
}
main section.visionEn h2 {
  line-height: 1.3;
  margin-top: 5rem;
}
main section.team h3 {
  font-weight: 400;
}
main section.team h3 span {
  display: block;
  font-size: 1.4rem;
}
main section.team ul {
  display: grid;
}
@media screen and (max-width: 479px) {
  main section.team ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 480px) {
  main section.team ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4rem;
  }
}
main section.team ul li {
  list-style: none;
}
main section.team ul li div {
  width: 100%;
  padding-top: 100%;
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
}
main section.team ul li div.yozan-takahashi {
  background-image: url(../images/team/YozanTakahashi.jpg);
}
main section.team ul li div.akio-ito {
  background-image: url(../images/team/AkioIto.jpg);
}
main section.team ul li div.shuga-horii {
  background-image: url(../images/team/ShugaHorii.jpg);
}
main section.team ul li div.shintaro-ishimatsu {
  background-image: url(../images/team/ShintaroIshimatsu.jpg);
}
main section.teamEn h1 {
  margin-bottom: 5rem;
}
main section.teamEn h2 {
  margin-top: 5rem;
  margin-left: -5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffa200;
}
main section.teamEn h3 {
  font-weight: 400;
}
main section.teamEn span {
  display: block;
  font-size: 1.4rem;
}
main section.teamEn ul {
  display: grid;
}
@media screen and (max-width: 479px) {
  main section.teamEn ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 480px) {
  main section.teamEn ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4rem;
  }
}
main section.teamEn ul li {
  list-style: none;
}
main section.teamEn ul li div {
  width: 100%;
  padding-top: 100%;
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
}
main section.teamEn ul li div.yozan-takahashi {
  background-image: url(../images/team/YozanTakahashi.jpg);
}
main section.teamEn ul li div.akio-ito {
  background-image: url(../images/team/AkioIto.jpg);
}
main section.teamEn ul li div.shuga-horii {
  background-image: url(../images/team/ShugaHorii.jpg);
}
main section.teamEn ul li div.shintaro-ishimatsu {
  background-image: url(../images/team/ShintaroIshimatsu.jpg);
}
main section.teamEn ul li div.akito-sogame {
  background-image: url(../images/team/sogame.JPG);
}
main section.technology div {
  width: 100%;
  height: 40rem;
}
main section.technology > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 8rem;
  overflow: hidden;
}
main section.technology > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main section.technologyEn {
  background: white;
  color: #203060;
}
main section.technologyEn div.movie {
  margin-top: 5rem;
  width: 100%;
  height: 40rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 8rem;
  overflow: hidden;
}
main section.technologyEn div.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main section.technologyEn ul {
  display: grid;
}
@media screen and (max-width: 479px) {
  main section.technologyEn ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 480px) {
  main section.technologyEn ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
  }
}
main section.technologyEn ul li {
  list-style: none;
  text-align: center;
}
main section.technologyEn ul li div {
  width: 100%;
  padding-top: 100%;
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
}
main section.technologyEn ul li div.sogameori {
  background-image: url(../images/technology/sogameori.jpg);
}
main section.technologyEn ul li div.ishimatuori {
  background-image: url(../images/technology/ishimatuori.jpg);
}
main section.technologyEn ul li div.software {
  background-image: url(../images/technology/software.jpg);
}
main section.technologyEn ul li span {
  font-weight: bold;
}
main section.concept h2 {
  line-height: 1.3;
}
main section.conceptEn h2 {
  line-height: 1.3;
  margin-top: 5rem;
}
main section.conceptEn div.gif {
  width: 100%;
  height: 40rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 8rem;
  overflow: visible;
}
main section.conceptEn div.gif.gif {
  background-image: url(../images/concept/concept.gif);
}
main section.conceptEn div.gif.useimage {
  background-image: url(../images/concept/useimage.jpg);
}
main section.company a {
  color: #ffa200;
}
main section.company table {
  width: 100%;
  margin-bottom: 5rem;
  border-collapse: collapse;
}
@media screen and (min-width: 480px) {
  main section.company table tr:nth-child(odd) {
    background: #203060;
  }
}
main section.company table tr > :first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
main section.company table tr > :last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
main section.company table tr th, main section.company table tr td {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
}
@media screen and (max-width: 479px) {
  main section.company table tr th, main section.company table tr td {
    display: block;
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 480px) {
  main section.company table tr th, main section.company table tr td {
    padding: 1rem 2rem;
  }
}
main section.company ul {
  padding: 0.5rem 0 0.5rem 2.5rem;
}
main section.company div {
  width: 100%;
  height: 40rem;
}
main section.company > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 8rem;
  overflow: hidden;
}
main section.company > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main section.movie > div {
  position: relative;
  padding-bottom: 62%;
  height: 0;
  overflow: hidden;
}
main section.movie > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main section.sponsors {
  background: #FFF;
  color: #172245;
}
main section.sponsors + section {
  border-top: solid 0.1rem #CCC;
}
main section.sponsors h2 {
  font-size: 2.4rem;
  padding-bottom: 3rem;
}
main section.sponsors div {
  margin: 3rem 0;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 479px) {
  main section.sponsors div {
    width: 30rem;
  }
}
@media screen and (min-width: 480px) {
  main section.sponsors div {
    width: 35rem;
  }
}
main section.sponsors .space-access {
  padding-top: 15rem;
  background-image: url("../images/sponsors/SpaceAccessLogo.jpg");
}
main section.sponsors .ssd {
  padding-top: 15rem;
  background-image: url("../images/sponsors/SSDLogo.jpg");
}
main section.sponsors .yspace {
  padding-top: 8rem;
  background-image: url("../images/sponsors/YspaceLogo.png");
}

section.personal-sponsors li {
  display: inline-block;
  margin-right: 1.5rem;
  list-style: none;
}
@media screen and (max-width: 479px) {
  section.personal-sponsors li {
    font-size: 1.2rem;
  }
}

footer.site-footer {
  border-top: solid 0.1rem #203060;
}
@media screen and (max-width: 479px) {
  footer.site-footer {
    padding: 3rem 5%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  footer.site-footer {
    padding: 3rem 15%;
  }
}
@media screen and (min-width: 1280px) {
  footer.site-footer {
    padding: 3rem 5%;
  }
}
footer.site-footer .copyright {
  text-align: right;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
